<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FGV Atividade Final</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <style>
        body{
            background-color: #f2f2f2;
        }

 .card {

            display: flex; /* Ativa o modelo flexbox */
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            transition: transform 0.2s ease-in-out;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
        }

.card:hover {
            transform: scale(1.05);
        }


.card-body{
    text-align: center;
}
.card-body p {
            font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

.card a {
            text-decoration: none; /* Remove o sublinhado dos links */
            color: inherit; /* Mantém a cor padrão do texto do link */
        }

.card-body i {
            font-size: 50px; /* Ajusta o tamanho do ícone */
            margin-bottom: 10px; /* Adiciona espaçamento abaixo do ícone */
        }

    </style>
</head>
<body>
    

    <div class="container">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <i class="bi bi-upc-scan fs-2 me-4"></i>
                <span class="fs-4">Atividade Final -  FGV</span>
              </a>
        
              <ul class="nav nav-pills">
                <!--<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>-->
                <li class="nav-item"><a href="#" class="nav-link text-secondary">Requisitos</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-secondary">Sobre <i class="bi bi-info-square ms-1"></i></a></li>
              </ul>
            </header>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"><i class="bi bi-house-door-fill text-secondary"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Produtos</li>
                </ol>
              </nav>
          </div>
          <div class="main">
            <h5 class="mb-4 mt-4 text-secondary">Cadastro de Produto</h5>
            <form action="." method="post" class="row g-3">

                <div class="col-md-3">
                  <label for="inputnome" class="form-label"><small>Nome Produto</small></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo do Produto">
                </div>

                <div class="col-md-3">
                  <label for="inputemail" class="form-label"><small>Descrição</small></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Descrição do Produto">
                </div>

                <div class="col-md-3">
                  <label for="inputtelefone" class="form-label"><small>Marca</small></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="col-md-3">
                  <label for="inputtipopessoa" class="form-label"><small>Código Barras</small></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Somente números">
              </div>
              <div class="col-md-2">
                <label for="inputtipopessoa" class="form-label"><small>Tamanho</small></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-md-2">
                    <label for="inputtipopessoa" class="form-label"><small>Empacotamento</small></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="col-md-2">
                    <label for="inputtipopessoa" class="form-label"><small>Estoque Padrão</small></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-md-2">
                  <label for="inputtipopessoa" class="form-label"><small>Preço</small></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                  <div class="col-md-2">
                      <label for="inputtipopessoa" class="form-label"><small>Loja</small></label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                  <div class="col-md-2">
                    <label for="inputtipopessoa" class="form-label"><small>Fornecedor</small></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="col-md-12 align-items d-flex justify-content-end align-items-end">
                  <button type="button" class="btn btn-outline-danger">Sair</button>
                  <button type="submit" class="btn btn-success ms-2">Salvar</button>
                </div>

              </form><!-- End No Labels Form -->
              <hr class="border-secondary">
              <h5 class="mb-4 mt-4 text-secondary">Produtos cadastrados</h5>
              <table class="table table-hover shadow">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cod. Barras</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Empaco.</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Loja</th>
                    <th scope="col">Estq. Padrão</th>
                    <th scope="col">Saldo Estq.</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                  <tbody>
                    <tr> <!-- Inserir variáveis do Django Aqui -->
                      <td> 1 </td>
                      <td> REF001</td>
                      <td> Refrigerante Coca-Cola</td>
                      <td> Coca-Cola</td>
                      <td> 111222333 </td>
                      <td> 300ml </td>
                      <td> unid </td>
                      <td> Coca-Cola</td>
                      <td> Loja001</td>
                      <td> 50</td>
                      <td> 25</td>
                      <td> R$ 3,99</td>
                      <td> <a href=""> <i class="bi bi-pencil text-dark"></i></a> </td>
                      <td> <a href=""> <i class="bi bi-trash text-danger"></i></a> </td>
                    </tr>
                  </tbody>
                </thead>
                <tr>

                </tr>

              </table>
          </div>

        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Requisitos</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Sobre</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2023 Renato Augusto - FGV</p>
          </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
