{% extends 'bases/base.html' %}
{% load static %}

{%block 'head'%}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'home'%}"><i class="bi bi-house-door-fill text-secondary"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Fornecedor</li>
  </ol>
</nav>
{%endblock 'head'%}

{%block 'main'%}
          <div class="main">
            <h5 class="mb-4 mt-4 text-secondary">Cadastro de Fornecedor</h5>
            <hr class="border-secondary">
            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        <form method="POST" action="{% if fornecedor.id %}{% url 'editar_fornecedor' fornecedor.id %}{% else %}{% url 'cadastrar_fornecedor' %}{% endif %}" class="row g-3">
          {% csrf_token %}

                <div class="col-md-5">
                  <label for="inputnome" class="form-label"><small>Nome Fornecedor</small></label>
                  <input type="text" name="nome" class="form-control" value="{{fornecedor.nomeFornecedor}}" >
                </div>

                <div class="col-md-5">
                  <label for="inputemail" class="form-label"><small>Endereço</small></label>
                  <input type="text" name="endereco" class="form-control" value="{{fornecedor.endereco}}" >
                </div>

            
                <div class="col-md-2 align-items d-flex justify-content-end align-items-end">
                  <a href="{% url 'home' %}" class="btn btn-outline-danger">Sair</a>
                      {% if fornecedor.id %}
                        <button type="submit" class="btn btn-success ms-2">Alterar</button>
                      {% else %}
                        <button type="submit" class="btn btn-success ms-3">Salvar</button>
                      {% endif %}
                </div>

              </form><!-- End No Labels Form -->

              <hr class="border-secondary">
              <h5 class="mb-4 mt-4 text-secondary">Fornecedores Cadastrados</h5>
              <table class="table table-hover shadow">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Fornecedor</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                  <tbody>
                    {% for fornecedor in fornecedores %}
                    <tr> <!-- Inserir variáveis do Django Aqui -->
                      <td> {{fornecedor.id}} </td>
                      <td> {{fornecedor.nomeFornecedor}}</td>
                      <td> {{fornecedor.endereco}}</td>
                      <td> <a href="{% url 'editar_fornecedor' fornecedor.id %}">  <i class="bi bi-pencil text-dark"></i></a> </td>
                      <td> <a href="{% url 'excluir_fornecedor' fornecedor.id %}"> <i class="bi bi-trash text-danger"></i></a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </thead>
                <tr>

                </tr>

              </table>

          </div>
{%endblock 'main'%}