{% extends 'bases/base.html' %}
{% load static %}


{%block 'head'%}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'home'%}"><i class="bi bi-house-door-fill text-secondary"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Produto</li>
  </ol>
</nav>
{%endblock 'head'%}

{%block 'main'%}
          <div class="main">
            <h5 class="mb-4 mt-4 text-secondary">Cadastro de Produto</h5>
              {% if messages %}
                  {% for message in messages %}
                  <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
              <form method="POST" action="{% if produto.id %}{% url 'editar_produto' produto.id %}{% else %}{% url 'cadastrar_produto' %}{% endif %}" class="row g-3">
                {% csrf_token %}
                <div class="col-md-3">
                  <label for="inputnome" class="form-label"><small>Nome Produto</small></label>
                  <input  name="nome" class="form-control"  placeholder="">
                </div>

                <div class="col-md-3">
                  <label for="inputemail" class="form-label"><small>Descrição</small></label>
                  <input  name="descricao" class="form-control"  placeholder="">
                </div>

                <div class="col-md-3">
                  <label for="inputtelefone" class="form-label"><small>Marca</small></label>
                  <input  name="marca" class="form-control"  placeholder="">
                </div>

                <div class="col-md-3">
                  <label for="inputtipopessoa" class="form-label"><small>Código Barras</small></label>
                  <input  name="codBarras" class="form-control"  placeholder="Somente números">
              </div>
              <div class="col-md-2">
                <label for="inputtipopessoa" class="form-label"><small>Tamanho</small></label>
                <input  name="tamanho" class="form-control"  placeholder="">
                </div>
                <div class="col-md-2">
                    <label for="inputtipopessoa" class="form-label"><small>Empacotamento</small></label>
                    <input  name="mEmpacotamento" class="form-control"  placeholder="">
                </div>

                <div class="col-md-2">
                    <label for="inputtipopessoa" class="form-label"><small>Estoque Padrão</small></label>
                    <input  name="estoquepdr" class="form-control"  placeholder="">
                </div>
                <div class="col-md-2">
                  <label for="inputtipopessoa" class="form-label"><small>Preço</small></label>
                  <input  name="preco" class="form-control"  placeholder="">
                  </div>

                <div class="col-md-2">
                  <label for="loja" class="form-label"><small>loja</small></label>
                  <select name="loja" id="loja" class="form-select">
                      <option value="">Selecione o loja</option>
                      {% for loja in lojas %}
                          <option value="{{ loja.id }}">{{ loja.nomeLoja }}</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="fornecedor" class="form-label"><small>fornecedor</small></label>
                  <select name="fornecedor" id="fornecedor" class="form-select">
                      <option value="">Selecione o fornecedor</option>
                      {% for fornecedor in fornecedores %}
                          <option value="{{ fornecedor.id }}">{{ fornecedor.nomeFornecedor }}</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="col-md-12 align-items d-flex justify-content-end align-items-end">
                  <a href="{% url 'home' %}" class="btn btn-outline-danger">Sair</a>
                      {% if produto.id %}
                        <button type="submit" class="btn btn-success ms-2">Alterar</button>
                      {% else %}
                        <button type="submit" class="btn btn-success ms-3">Salvar</button>
                      {% endif %}
                </div>

              </form><!-- End No Labels Form -->
              <hr class="border-secondary">
              <h5 class="mb-4 mt-4 text-secondary">Produtos cadastrados</h5>
              <table class="table table-hover shadow">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cod. Barras</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Empaco.</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Loja</th>
                    <th scope="col">Estq. Padrão</th>
                    <th scope="col">Saldo Estq.</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                  <tbody>
                    <tr> <!-- Inserir variáveis do Django Aqui -->
                      {% for produto in produtos %}
                        <td> {{produto.id}} </td>
                        <td> {{produto.produto}}</td>
                        <td> {{produto.descricao}}</td>
                        <td> {{produto.marca}}</td>
                        <td> {{produto.codBarras}} </td>
                        <td> {{produto.tamanho}} </td>
                        <td> {{produto.mEmpacotamento}} </td>
                        <td> {{produto.fornecedores}}</td>
                        <td> {{produto.loja}}</td>
                        <td> {{produto.estoquePadrao}}</td>
                        <td> {{produto.qtdEstoque}}</td>
                        <td> {{produto.preco}}</td>
                        <td> <a href="{% url 'editar_produto' produto.id %}">  <i class="bi bi-pencil text-dark"></i></a> </td>
                        <td> <a href="{% url 'excluir_produto' produto.id %}"> <i class="bi bi-trash text-danger"></i></a> </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </thead>
                <tr>

                </tr>

              </table>
          </div>
{%endblock 'main'%}