{% extends 'bases/base.html' %}
{% load static %}



{%block 'main'%}

<style>
    body{
        background-color: #f2f2f2;
    }

.card {

        display: flex; /* Ativa o modelo flexbox */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        transition: transform 0.2s ease-in-out;
        border: none;
        border-radius: 10px;
        margin-bottom: 20px;
    }

.card:hover {
        transform: scale(1.05);
    }


.card-body{
text-align: center;
}
.card-body p {
        font-size: 1.5rem;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.card a {
        text-decoration: none; /* Remove o sublinhado dos links */
        color: inherit; /* Mantém a cor padrão do texto do link */
    }

.card-body i {
        font-size: 50px; /* Ajusta o tamanho do ícone */
        margin-bottom: 10px; /* Adiciona espaçamento abaixo do ícone */
    }

</style>


          <div class="main">
        <div class="row">
            <div class="col-4">
                <div class="card h-100  bg-info text-white">
                    <a href="{% url 'cliente' %}">
                    <div class="card-body">
                        <p>Cadastrar Cliente</p>
                        <i class="bi bi-person-add"></i>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100  bg-info text-white">
                    <a href="{% url 'dependente' %}">
                        <div class="card-body ">
                            <p>Cadastrar Dependente</p>
                            <i class="bi bi-people"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100  bg-info text-white">
                    <a href="{% url 'produto' %}">
                    <div class="card-body ">
                        <p>Cadastrar Produto</p>
                        <i class="bi bi-box"></i>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="card h-100  bg-info text-white">
                    <a href="{% url 'fornecedor' %}">
                    <div class="card-body ">
                        <p>Cadastrar Fornecedor</p>
                        <i class="bi bi-truck"></i>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100  bg-info text-white">
                    <a href="{% url 'loja' %}">
                    <div class="card-body ">
                        <p>Cadastrar Loja</p>
                        <i class="bi bi-shop"></i>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100 bg-primary text-white">
                    <a href="{% url 'pedido' %}">
                    <div class="card-body ">
                        <p>Vender</p>
                        <i class="bi bi-bag"></i>
                    </div>
                </a>
                </div>
            </div>
        </div>
          </div>

{%endblock 'main'%}