{% extends 'bases/base.html' %}
{% load static %}

{%block 'head'%}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'home'%}"><i class="bi bi-house-door-fill text-secondary"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Pedido</li>
  </ol>
</nav>
{%endblock 'head'%}

{%block 'main'%}
          <div class="main">
            <h5 class="mb-4 mt-4 text-secondary">Criar Pedido</h5>
            {% if messages %}
                  {% for message in messages %}
                  <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
            <div class="row">
                <div class="col-md-12 ">
                    <form method="POST" action="{% url 'cadastrar_pedido' %}" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <label for="cliente" class="form-label"><small>Cliente</small></label>
                            <select class="form-select" id="cliente" name="cliente">
                                <option value="">Selecione o cliente</option>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nomeCliente }}</option>
                                {% endfor %}
                            </select>
                        </div>                        
        
                        <div class="col-md-3">
                            <label for="dependente" class="form-label"><small>dependente</small></label>
                            <select class="form-select" id="dependente" name="dependente">
                                <option value="">Selecione o dependente</option>
                                {% for dependente in dependentes %}
                                    <option value="{{ dependente.id }}">{{ dependente.nomeDependente }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="col-md-3">
                          <label for="inputtelefone" class="form-label" ><small>Data</small></label>
                          <input type="date" name='data' class="form-control" required id="exampleFormControlInput1" placeholder="">
                        </div>
        
                        <div class="col-md-3">
                            <label for="tipoVenda" class="form-label"><small>Tipo Venda</small></label>
                            <select class="form-select" id="tipoVenda" name="tipoVenda">
                                <option value="V">Virtual</option>
                                <option value="F">Físico</option>
                            </select>
                        </div>
        
                        <div class="col-md-3">
                            <label for="loja" class="form-label"><small>loja</small></label>
                            <select class="form-select" id="loja" name="loja">
                                <option value="">Selecione a loja</option>
                                {% for loja in lojas %}
                                    <option value="{{ loja.id }}">{{ loja.nomeLoja }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="produto" class="form-label"><small>Produto</small></label>
                            <select class="form-select" id="produto" name="produto">
                                <option value="">Selecione o produto</option>
                                {% for produto in produtos %}
                                    <option value="{{ produto.id }}">{{ produto.nomeProduto }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="inputtipopessoa" class="form-label"><small>Preço</small></label>
                            <input type="text" name='preco' class="form-control" id="exampleFormControlInput1" placeholder="" required>
                            </div>
                        <div class="col-md-3">
                            <label for="inputtipopessoa" class="form-label"><small>Quantidade</small></label>
                            <input type="text" name='qtd' class="form-control" id="exampleFormControlInput1" placeholder="" required>
                        </div>
    
                        <div class="col-md-12 align-items d-flex justify-content-end align-items-end">
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Sair</a>
                            <button type="submit" class="btn btn-success ms-2">Salvar</button>
                          </div>
                      </form><!-- End No Labels Form -->
                </div>

            </div>
              <hr class="border-secondary">
              <h5 class="mb-4 mt-4 text-secondary">Pedidos cadastrados</h5>
              <table class="table table-hover shadow">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Loja</th>
                    <th scope="col">Data</th>
                    <th scope="col">Tipo Venda</th>
                    <th scope="col">Total Pedido</th>
                    <th scope="col">Excluir</th>
                  </tr>
                  <tbody>
                    {% for pedido in pedidos %}  
                    <tr> <!-- Inserir variáveis do Django Aqui -->

                      <td> {{pedido.id}} </td>
                      <td> {{pedido.cliente}} </td>
                      <td> {{pedido.loja}} </td>
                      <td> {{pedido.data}} </td>
                      <td> {{pedido.tipoVenda}} </td>
                      <td> {{pedido.totalPedido}} </td>
                      <td> <a href=""> <i class="bi bi-trash text-danger"></i></a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </thead>
                <tr>

                </tr>

              </table>
          </div>
          {%endblock 'main'%}